logs/
*.log
*.tmp

# Java 산출물
/target/
!/target/.keep
**/target/
**/out/
**/.out/
**/.classpath
**/.project

# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar
**/.gradle/

# Maven
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/.cache/
.mvn/timing.properties

# IntelliJ
.idea/
*.iml

# 산출물
/public/build/
/static/build/
*.pptx
*.docx
*.pdf
*.mp4
*.mov
*.zip
*.7z
*.tgz
*.tar.gz

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

/bin
/.idea
/.mvn/wrapper/*.jar